.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.21);
  //   z-index: 0;
  .sidebar-content {
    background-color: white;
    width: 74vw;
    height: 100vh;
    padding: 26px 20px;
    z-index: 2;
    .sidebar-header {
      .close-icon {
        width: 21.39px;
        cursor: pointer;
      }
    }
    .menu-wrap {
      margin-top: 51px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      font-size: 16px;
      color: #4e4e4e;
      p {
        cursor: pointer;
      }
    }
  }
}
